section.clothing_type_picker.js-clothing_type_picker
  
  div.clothing_type_picker__content
    
    a.clothing_type_picker__type(data-type="top" href="#")
      h1.clothing_type_picker__title Add Top
      img.clothing_type_picker__img(src="#")
    a.clothing_type_picker__type(data-type="bottom" href="#")
      h1.clothing_type_picker__title Add Bottom
      img.clothing_type_picker__img(src="#")
    
    button.btn--close.material-icons.js-close
      | clear
