doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    
    script(src='https://cdn.firebase.com/js/client/2.2.9/firebase.js')
    script(src='/js/main.js')
