doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    
    //- interface buttons
    include ./includes/main_menu.jade
    //- modals
    include ./includes/clothing_type_picker.jade
    
    script(src='https://cdn.firebase.com/js/client/2.2.9/firebase.js')
    script(src='/js/main.js')
